.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #db00ff;
  --title-color: #ff0070;
  --title-bg-color: #ff0070;
  --title-paradraph-color: #000028;
  --bg-img: url("../images/cover-image-dark.png");
  --link-shadow-color: #ff0070;
  --btn-activ-focus-border-color: #ff0070;
  --btn-hover-border-color: rgba(255, 0, 112, 0.4);
  --img: url("../images/cover-image-dark.png");
}
