.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ffc2e6;
  --title-color: #353430;
  --title-bg-color: #ff8dcb;
  --title-paradraph-color: #353430;
  --bg-img: url("../images/cover-image-light.png");
  --link-shadow-color: #ff8dcb;
  --btn-activ-focus-border-color: #353430;
  --btn-hover-border-color: rgba(50, 49, 45, 0.4);
  --img:url("../images/cover-image-light.png");
}

.theme_light .text-rec,
.theme_light .point-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ffc2e6;
    --title-color: #353430;
    --title-bg-color: #ff8dcb;
    --title-paradraph-color: #353430;
    --bg-img: url("../images/cover-image-light.png");
    --link-shadow-color: #ff8dcb;
    --btn-activ-focus-border-color: #353430;
    --btn-hover-border-color: rgba(50, 49, 45, 0.4);
     --img:url("../images/cover-image-light.png");
  }

  .text-rec:not(.theme_dark .text-rec),
  .point-rec:not(.theme_dark .point-rec) {
    display: none;
  }
}
