.page {
  color: var(--text-color);
  font-family: var(--main-font-family);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.text-link {
  text-shadow: 2px 2px 0px var(--link-shadow-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

.header__theme-menu-button {
  color: var(--title-color);
  height: 26px;
  padding: 0px 13px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover-border-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-hover-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-activ-focus-border-color);
  pointer-events: none;
}

.text-rec {
  position: absolute;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 138.889%;
  text-transform: uppercase;
  color: #ff0070;
  margin-right: 10px;
  top: 20px;
  right: 38px;
  display: block;
}

.point-rec {
  background-color: #ff0070;
  width: 10px;
  height: 10px;
  position: absolute;
  filter: drop-shadow(0px 0px 4px #ff0070);
  box-shadow: 0px 0px 4px 2px #ff0070;
  border-radius: 5px;
  top: 28px;
  right: 28px;
  display: block;
}

@media (768px < width) {
  .header,
  .footer {
    max-width: 1024px;
    padding: 0 20px;
  }

  .decorated-zone::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--title-color);
    border-left: 1px solid var(--title-color);
    left: 20px;
    bottom: 20px;
  }

  .main_content {
    max-width: 1024px;
    padding: 0 20px;
    margin: 60px auto;
  }

  .why-paragrph,
  .how-paragraph {
    grid-template-columns: repeat(3, 1fr);
  }

  .cover-title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-what,
  .how-paragraph,
  .title-pictures {
    margin-block-start: 60px;
  }

  .text-right {
    margin-block-start: 114px;
  }
}

@media (400px < width <= 768px) {
  .header,
  footer {
    max-width: 768px;
    padding: 0 20px;
  }

  .decorated-zone::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--title-color);
    border-left: 1px solid var(--title-color);
    left: 20px;
    bottom: 20px;
  }

  .main_content {
    max-width: 768px;
    padding: 0 20px;
    margin: 60px auto;
  }

  .header__theme-menu-list {
    padding-top: 174px;
  }

  .why-paragrph,
  .how-paragraph {
    grid-template-columns: 236px repeat(2, 1fr);
  }

  .cover-title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-what,
  .how-paragraph,
  .title-pictures {
    margin-block-start: 60px;
  }

  .text-right {
    margin-block-start: 162px;
  }
}

@media (width <= 400px) {
  .header,
  .footer {
    max-width: 375px;
    padding: 0 10px;
  }

  .main_content {
    max-width: 375px;
    padding: 0 10px;
    margin: 40px auto;
  }

  .text-right {
    margin-block-start: 55px;
  }

  .decorated-zone::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--title-color);
    border-left: 1px solid var(--title-color);
    left: 10px;
    bottom: 10px;
  }

  .header__theme-menu-list {
    padding-top: 56px;
  }

  .title-what,
  .how-paragraph,
  .title-pictures {
    margin-block-start: 30px;
  }

  .cover-title,
  .footer-text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .pucture_list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  .text-rec {
    top: 10px;
    right: 28px;
  }

  .point-rec {
    right: 19px;
    top: 18px;
  }
}

.header {
  background-image: var(
    --bg-img,
    url("../images/cover-image-light.png"),
    url("../images/cover-image-dark.png")
  );
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  block-size: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.header__theme-menu {
  padding-top: 20px;
  grid-column: span 2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cover-title {
  grid-column: span 3;
  grid-row: 2 / span 1;
  color: var(--accent-color);
  text-shadow: 4px 4px 0px #ff0070;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 768px) {
  .theme_light .cover-title {
    text-shadow: 4px 4px 0px #ff8dcb;
  }

  .theme_light .footer-text {
    text-shadow: 3px 3px 0px #ff8dcb;
  }
}

@media (prefers-color-scheme: light) and (width <= 768px) {
  .theme_auto .cover-title {
    text-shadow: 4px 4px 0px #ff8dcb;
  }

  .theme_auto .footer-text {
    text-shadow: 3px 3px 0px #ff8dcb;
  }
}

@media (width <= 768px) {
  .cover-title:has(.theme_auto .cover-title) {
    text-shadow: 4px 4px 0px #ff8dcb;
  }

  .footer-text:has(.theme_auto .footer-text) {
    text-shadow: 3px 3px 0px #ff8dcb;
  }
}

.aligned_right {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.text-right {
  background-color: var(--title-bg-color);
  color: var(--title-paradraph-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  gap: 20px;
  width: 100%;
}

.content-title {
  color: var(--title-color);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.why-paragrph {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  display: grid;
  gap: 20px;
}

.title-why {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.why-multitasking {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.why-dopamine {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.title-what {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.what-paragrph {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.how-paragraph {
  grid-column: 1 / span 3;
  grid-row: 3 / span 6;
  display: grid;
  gap: 20px;
}

.title-how {
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
}

.recommendations {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.recommendation-one {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.recommendation-two {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.recommendation-three {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

.recommendation-four {
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
}

.recommendation-five {
  grid-column: 2 / span 2;
  grid-row: 6 / span 1;
}

@media (400px < width) {
  .pucture_list {
    grid-column: 1 / span 3;
    grid-row: 9 / span 1;
    display: grid;
    grid-gap: 20px;
  }

  .pucture_list > img {
    max-width: 100%;
    height: 100%;
    display: block;
  }
  .title-pictures {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  .sunset {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .ice-cream {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    object-fit: cover;
  }

  .tape {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    object-fit: cover;
  }

  .books {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .street {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
  }
}

@media (width <= 768px) {
  .what-paragrph {
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 640px) {
  .how-paragraph,
  .why-paragrph {
    display: flex;
    flex-direction: column;
  }
}

.content_container-title {
  background-color: var(--title-bg-color);
  color: var(--title-paradraph-color);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.content_container-subtitle {
  background-color: var(--title-bg-color);
  color: var(--title-paradraph-color);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.content_container-text {
  padding-top: 10px;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

@media (width < 640px) {
  .aligned_right {
    grid-column: span 1;
  }

  .main_content,
  .content_why,
  .content_how {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  width: 100%;
  block-size: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-text {
  color: var(--accent-color);
  text-shadow: 3px 3px 0px #ff0070;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
