:root {
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --bg-img: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #db00ff;
  --title-color: #ff0070;
  --title-bg-color: #ff0070;
  --title-paradraph-color: #000028;
  --link-shadow-color: #ff0070;
  --btn-activ-focus-border-color: #ff0070;
  --btn-hover-border-color: rgba(255, 0, 112, 0.4);
}
